body{
    background-color: black;
}

.header{
    text-align: center;
    height:6rem;
     border: 0.1rem double;
    border-color:#ffe873;
    border-radius: 0.5rem;
    
}

h1{
    color:#ffe873;
    text-align: center;
}

.inputBox{
    text-align: center;
    margin: 4rem 0rem;
    
   
}
.inputs{
   
    height: 4rem;
    width: 80%;
    border: 1.5px solid #ffe873;
    border-radius:0.5rem ;
    
    background-color: black;
   color: #ffe873;
    
}
.buttonBox{
    text-align: center;
}

.buttons{
    
        background-color: black;
        border-radius: 0.5rem ;
        border-color: #ffe873;
        color:#ffe873;
        text-decoration: none;
        padding:0.5rem 1rem;
        margin-bottom: 4rem;
        
}

.outputs{
    
   
    
    margin:4rem;
color: #ffe873;
    border:1px solid #ffe873;
    height:3.2rem;
    width:60%;
    margin:auto;
    padding:1rem;
    border-radius:0.5rem ;
}


.footer{
    color:#ffe873;
    border:2px solid #ffe873;
    border-radius: 1rem;
    margin-top: 4rem;
    text-align: center;
    
}